form{
    margin: 8% !important;
 
}
form label{
    text-transform: capitalize;
    font-size: 1.5rem !important;
}
form input{
    text-transform: capitalize;
    font-size: 1.25rem !important;
}
form .btn{
    text-transform: capitalize;
    font-size: 1.25rem !important;
    margin-top: 10px;
}
.form-control:focus {
    border: 2px solid #473d496e;
    box-shadow: none
}    div:where(.swal2-icon).swal2-warning.swal2-icon-show {
    overflow: hidden !important;
}
.title{
    text-align: start;
    font-size: 2rem;
    border-bottom: 2px solid #ee4e345e;
    text-transform: capitalize;
    padding: 5px;
}